body{
    font-family: '__Inter_e66fe9', '__Inter_Fallback_e66fe9',-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
.blog-header-logo{
    text-decoration: none;
    font-size: 2.25rem;
    
}